<!DOCTYPE HTML>
<html>
<head>
    <title>Canadian Engineering Competition 2018</title>
    <script type="text/javascript" src="http://d3js.org/d3.v4.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    </script>
</head>
<body>
    <h1>Canadian Engineering Competition 2018</h1>
    <hr/>
    <h2>Team {{team_id}}</h2>
    {{timestamp}}
    <h2>Log:</h2>
    <table>
        <tr>
            <td><table id="log"><tr><th>Action</th><th>Response</th></tr></table></td>
        </tr>
    </table>
</body>
</body>
</html>
